{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>
            HOLAaaa
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque exercitationem dolore quasi, ex odit itaque qui eos? Commodi maiores ullam nisi blanditiis, beatae tenetur dolorem distinctio quas nam repudiandae.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/dog.jpeg" class="img-thumbnail">
    </div>

</div>

{{> footer }}
